@import "tailwindcss";

@theme {
  --color-jour-bg: #FAFAFA;
  --color-jour-text: #1A1A1A;
  --color-nuit-bg: #000000;
  --color-nuit-text: #F5F5F5;
  --color-action-neon: #D1FF00;
  --color-action-laser: #BC13FE;
  
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    /* Remplacement de jour-bg par nuit-bg pour un fond 100% noir */
    @apply bg-nuit-bg text-nuit-text font-inter antialiased;
  }
}